@model IEnumerable<InventoryGudang.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.CategoryId })">Edit</a> |
                        <a href="@Url.Action("Delete", new { id = item.CategoryId })">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>